/* Main Elements */
body {min-height: 100%;padding: 10px 0 20px;box-sizing: border-box;font-family:'Helvetica Neue', Helvetica;font-size:1.2em;}
#wrapper {position: relative;z-index: 2;max-width: 800px;min-height: 100%;margin: 0 auto;padding: 20px;}
section {position: relative;overflow: hidden;margin: 0 0 40px;}
.breadcrumb, .gist {margin: 0 0 20px;}
.right {float:right;}

/* Text */
h1 {font-size:3.2em;margin: 0 0 15px;font-family:Georgia;font-weight:normal;font-style:italic;line-height:1.1em;}
h3 + div {margin: 0 0 35px;}
h4 {margin:0 0 4px;}
ul {margin:0 0 20px;}
a:hover {color:#83be20;}
.description {font-size:1.4em;padding:0 0 25px;line-height:25px;color:#999;margin:0;}
ul.tight {margin:0;padding:0;list-style:none;}



/* Headers */
#index h1 {background-image:url('/img/spotify-apps-tutorial.png');background-repeat: no-repeat;width:600px;height:83px;text-indent:-9999em;margin: 0 0 20px;}


/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}


/* Drop Box */
#drop-box {border:4px dashed #333;width:100%;height:200px;padding:10px;}
#drop-box.over {opacity:0.8;border-color:#74c043;}


/* Buttons */
.buttons button {margin: 0 20px 0 0;} 


body, html {overflow:visible !important;}
