/* Main Elements */
body {min-height: 100%;padding: 10px 0 20px;box-sizing: border-box;}
#wrapper {position: relative;z-index: 2;max-width: 800px;min-height: 100%;margin: 0 auto;padding: 20px;}
section {position: relative;overflow: hidden;margin: 0 0 40px;}
.breadcrumb, .gist {margin: 0 0 20px;}
.right {float:right;}
h3 + div {margin: 0 0 35px;}


/* Text */
h1 {font-size:2em;}
.description {font-size:1.5em;font-style:italic;font-family:Georgia;padding:0 0 25px;line-height:25px;}


/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}
