/* Main Elements */
html {-webkit-user-select: auto;}
body {min-height: 100%;padding: 10px 0 20px;box-sizing: border-box;}
#wrapper {position: relative;z-index: 2;max-width: 900px;min-height: 100%;margin: 0 auto;padding: 20px;}
section {position: relative;overflow: hidden;margin: 0 0 40px;}
.breadcrumb, .gist {margin: 0 0 20px;}
.right {float:right;}
h3 + div {margin: 0 0 35px;}


/* Headers */
#index h1 {background-image:url('/img/spotify-apps-tutorial.png');background-repeat: no-repeat;width:600px;height:83px;text-indent:-9999em;}


/* Text */
h1 {font-size:2em;}
.description {font-size:1.5em;font-style:italic;font-family:Georgia;padding:0 0 25px;line-height:25px;}


/* Player */
#player {min-height:140px;}
#player .sp-player {float:left;margin-right:10px;}
#player .sp-list {width:inherit;max-height:inherit;}


/* Drop Box */
#drop_box {border:4px dashed #333;width:100%;height:200px;padding:10px;}
#drop_box.over {opacity:0.8;border-color:#74c043;}

/* Index */
#index h1, #index ul {margin:0 0 30px;}
#index a:hover {color:#83be20;}
